
$gray : #d3d3d3;
$white : #fff;
$blue : #0C78B9;;
.blue {
  color: $blue;
}
.blue2 {
  color: $blue;
  font-family: 'Raleway', sans-serif;
  font-size: .8em;
}
.white {
  color: $white;
}

.box {
  background: $gray;
  border: 3px solid black thin;
  padding: 10px 45px 20px 45px;
  border-radius: 15px;
  width: 600px;
}
.welcome-box {
  background: $gray;
  border: 3px solid black thin;
  padding: 10px 45px 44px 45px;
  border-radius: 15px;
  width: 360px;
}
.welcome-box p {
  color: #333;
  font-size: 1em;
}

.box-clear {
  border: 3px solid black thin;
  border-radius: 15px;
  margin-top: 15px;
}

.doc-box {
  height: 310px;
  width: 313px;
  background-color: $white;
  border-radius: 15px;
  padding:10px;
  margin: 5px;
}

.doc-image {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  height: 50%;
  float: left;
  margin-right: 10px;
}


* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-image: url();
  background: linear-gradient(#0C78B9,#042956);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 1000px;
  margin-top: 80px;
}

h1{
  color: #fff;
  font-family: 'Julius Sans One', sans-serif;
}
h3 {
  margin-bottom: 20px;
  color: #0C78B9;
  font-family: 'Raleway', sans-serif;
}

h4 {
  color: #665;
  font-family: 'Raleway', sans-serif;
}

h5 {
  color: #665;
  font-family: 'Julius Sans One', sans-serif;
}

hr {
  border-color: #999;
}
span.h3 {
  display: inline-block;
  font-size: .8em;
  color: #665;
}
.well {
  border-radius: 10px 10px 10px;
  margin-bottom: 15px;
}

li {
  list-style-type: none;
}





/*Alters Focus on button and input*/
button:focus{
  outline: none !important;
  border-color: #fff;
}
//buttons
.btn {
  background: linear-gradient(to right, #004D95, #0C99B9);
  border-color: #fff;
  text-align: center;
  width: 100%;
  font-size: 1.3em;
}
.btn:hover{
  background-color: #004D95;
  border-color: #fff;
}
.btn:active {
  background-color: #004D95;
  border-color: #fff;
}
.btn:visited {
  background: linear-gradient(to right, #004D95, #004D95);
  color: #fff;
  border-color: #fff;
}
